@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.side {
  height: 2000px;
  min-height: 100%
}

.main {
  background-color: gray
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.custom-image img {
  display: block;
}
.custom-card {
  padding: 10px 16px;
}
.custom-card p {
  color: #999;
}

.dim:hover > .overlay {
    position: absolute;
    top: 0;
    width:100%;
    height:60%;
    left: 0;
    background-color:#000;
    opacity:0.6;
    transition: .3s ease;
    z-index: 100;
    display: block;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 35%;
  opacity: 0;
  left: 50%;
  z-index: 101;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.dim:hover > .text {
  opacity: 1;
}
